@charset "utf-8";

@font-face {
    font-family: 'IropkeBatangM';
    src: url(../font/IropkeBatangM/IropkeBatangM.eot);
    src:url(../font/IropkeBatangM/IropkeBatangM.woff) format('woff');
    font-style: normal;
}


body {
    font-family: 'IropkeBatangM','Malgun Gothic','맑은 고딕','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif !important;
    font-width: 400;
    overflow-x: hidden;
    overflow-y: auto;
    padding:0px !important;
    background-color: #fbfbfb;
    color: #544f4f;
    touch-action: pan-x pan-y;
    -webkit-overflow-scrolling: touch;
}

.no-drag{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webskit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    overscroll-behavior-x: none;
}

a, a:hover, a:active, a:focus {
    color: unset;
    text-decoration: none;
    cursor: pointer;
}
.main-info{
    color: #292d32;
    margin-top: 10px;
}
.main-txt{
    color: #544f4f;
}
.cover-container{
    max-width: 500px;
}
.greeting-container{
    font-size: .9rem;
    line-height: 2rem;
    white-space: pre-line;
}
.name-container{
    /*display: flex;*/
    /*align-items: baseline;*/
    /*justify-content: center;*/
    margin-bottom: 20px;
}
.name-block{
    display: inline-block;
    /*flex-direction: column;*/
    width: 65px;
}
.mw-50{
    min-width: 50px;
}
.lh-15{
    line-height: 1.5;
}
.font-small{
    font-size: smaller;
}

.relation{
    font-size: 1rem;
    color: #8a857f;
}
.mr-5{
    margin-right: 5px;
}
.mr-10{
    margin-right: 10px;
}
.link-btn{
    line-height: 2rem;
    font-size: .9rem;
}
.main-img{
    background-image: url(../img/main/1.jpg);
    background-size: cover;
    background-position: top;
    height: 700px;
}
.sub-title{
    font-size: .7rem;
    color: #c2b2b2;
    letter-spacing: 3px;
    line-height: 20px;
}
.main-title {
    color: #89757a;
    letter-spacing: .5px;
}
.visually-hidden {
    opacity: 0;
}
.visible {
    opacity: 1;
}

.copyright {
    font-size: 10px;
    color: rgba(0, 0, 0, .4);
    letter-spacing: .5px;
}
.copyright-saybeom{
    color: rgba(0, 0, 0, .7);
}
.kakaopay .kakao-btn{
    width: 38px;
    height: 12px;
}
